.c-label {
	color: #4A4A4A;
	font-size: 1.1rem;
}

.inline-form {
	display: inline;
}

.head-contents {
	line-height: 1.25;
	font-weight: 700;
}

.result {
    opacity: 0;
}
.loadig{
    left:50%;
    top:50%;
    position: fixed;
}
.down-20 {
    margin-top: 20px;
}