<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>顧客管理</title>
<link th:replace="parts/header :: link" />
</head>
<body>

	<div id="wrapper">
		<div th:replace="parts/menubar :: nav"></div>
	</div>

	<div id="page-wrapper">
		<div class="row">
			<div class="col-lg-12">
				<h3 class="page-header">ER図【HTML5 Canvas】</h3>
			</div>
		</div>
		<div class="row">
			<canvas width="1000" height="1000"></canvas>
		</div>
		<br />
	</div>
	<script th:inline="javascript">
		/*<![CDATA[*/

		//配置設定
		$.jCanvas.defaults.fromCenter = false;
		$.jCanvas.defaults.layer = true;

		var columName1 = [ "users", "user_name", "encoded_password" ];
		var columName2 = [ "address", "old_zip", "ken_cd", "ken_furi","city_furi", "town_furi", "ken_name", "city_name" ];
		var columName3 = [ "t1", "t2", "t3", "t4", "t5", "t6", "t7", "t8",
				"t9", "t10", "t11" ];
		var columName4 = [ "メモ書き" ];

		// 50にしているのが高さ。
		createTable("g1", 50, 50, columName1, 'red');
		createTable("g2", 300, 50, columName2, 'red');
		createTable("g3", 400, 70, columName3, 'blue');
		createMemoTable("m4", 600, 50, columName4, 'yellow');

		// エンティティの線を引く
		drawLink("g1","g2");
		drawLink("g2","g3");

		// ERのテーブル作成
		// 引数 グループ名、ヨコの距離、テタの距離、コラム名
		function createTable(tableName, xl, yl, columName, color) {
			let xtext = xl;
			let ytext = yl;
			let xsquare = xl - 8; // テキストラインより下げる（インデント）
			let ysquare = yl; // 高さは合わせる
			let borderWidth = 0;
			let borderHeight = 0;
			let boxColor = color;

			// 線・四角形・テキストをグループ化
			//テキスト記載
			function drawText(text, x, y, name, tableName) {
				$("canvas").drawText({
					fillStyle : "black",
					strokeStyle : "black",
					strokeWidth : "0.5",
					x : x,
					y : y,
					fontSize : 14,
					fontFamily : "Verdana, sans-serif",
					text : text,
					name : name + "-text",
					draggable : true, //図形のドロップアンドドラック
					groups : [ tableName ],
					dragGroups : [ tableName ],
				});
			}

			//テキスト記載（横軸固定、縦30間隔）
			for (var i = 0; i < columName.length; i++) {
				// コラム記載
				drawText(columName[i], xtext, ytext, columName[i], tableName);
				if (i == 0) {
					ytext = ytext + 30;
				} else {
					ytext = ytext + 20;
				}
			}

			// テキスト幅のMAXから四角形の幅調整
			// カラム数により高さ調整
			for (var i = 0; i < columName.length; i++) {
				borderWidth = Math.max(borderWidth, $("canvas").getLayer(
						columName[i] + "-text").width);
				borderHeight = (columName.length * 20.5) + 10;
			}

			//四角形
			$("canvas").drawRect({
				strokeStyle : "blue",
				strokeWidth : 1,
				x : xsquare,
				y : ysquare,
				width : borderWidth + 15,
				height : borderHeight,
				draggable : true,
				groups : [ tableName ],
				dragGroups : [ tableName ],
				bringToFront : true,
				opacity : 0.2,
				fillStyle : boxColor,
				click : doClick,
				name: tableName,
		        drag: onDrag,
		        dragstop: onDragStop,
		        dragcancel: onDragCancel
			});
			//テーブル名の下線
			$("canvas").drawLine({
				strokeStyle : "black",
				strokeWidth : 1,
				x1 : xsquare,
				y1 : ysquare + 20,
				x2 : xsquare + borderWidth + 15,
				y2 : ysquare + 20,
				draggable : true,
				groups : [ tableName ],
				dragGroups : [ tableName ]
			});
		}

		function createMemoTable(tableName, xl, yl, columName, color) {
			let xtext = xl;
			let ytext = yl;
			let xsquare = xl - 8; // テキストラインより下げる（インデント）
			let ysquare = yl; // 高さは合わせる
			let borderWidth = 0;
			let borderHeight = 0;
			let boxColor = color;

			// 線・四角形・テキストをグループ化
			//テキスト記載
			function drawText(text, x, y, name, tableName) {
				$("canvas").drawText({
					fillStyle : "black",
					strokeStyle : "black",
					strokeWidth : "0.5",
					x : x,
					y : y,
					fontSize : 14,
					fontFamily : "Verdana, sans-serif",
					text : text,
					name : name + "-text",
					draggable : true, //図形のドロップアンドドラック
					groups : [ tableName ],
					dragGroups : [ tableName ],
				});
			}

			//テキスト記載（横軸固定、縦30間隔）
			for (var i = 0; i < columName.length; i++) {
				// コラム記載
				drawText(columName[i], xtext, ytext, columName[i], tableName);
				if (i == 0) {
					ytext = ytext + 30;
				} else {
					ytext = ytext + 20;
				}
			}

			// テキスト幅のMAXから四角形の幅調整
			// カラム数により高さ調整
			for (var i = 0; i < columName.length; i++) {
				borderWidth = Math.max(borderWidth, $("canvas").getLayer(
						columName[i] + "-text").width);
				borderHeight = (columName.length * 20.5) + 10;
			}

			//四角形
			$("canvas").drawRect({
				strokeStyle : "blue",
				strokeWidth : 1,
				x : xsquare,
				y : ysquare,
				width : borderWidth + 15,
				height : borderHeight,
				draggable : true,
				groups : [ tableName ],
				dragGroups : [ tableName ],
				bringToFront : true,
				opacity : 0.2,
				fillStyle : boxColor,
				click : doClick,
				name: tableName,
		        drag: onDrag,
		        dragstop: onDragStop,
		        dragcancel: onDragCancel
			});
		}

		// 線を引き
		function drawLink(entity1,entity2) {
			var border1 = $("canvas").getLayer(entity1);
			var border2 = $("canvas").getLayer(entity2);


			$("canvas").drawLine({
				strokeStyle : "black",
				strokeWidth : 1,
				draggable : false,
				x1: border1.x + border1.width,
				y1: border1.y + ( border1.height / 2 ), // Start point
				//cx1: border1.x + border1.width + 100,
				//cy1: border1.y + ( border1.height / 2 ), // Control point
				//cx2: border1.x + border1.width + 150,
				//cy2: border1.y + ( border1.height / 2 ) + 150, // Control point
				x2: border2.x,
				y2: border2.y + ( border2.height / 2 ), // Start/end point
				//cx3: border1.x + border1.width + 200,
				//cy3: border1.y + ( border1.height / 2 ) + 150, // Control point
				//cx4:  border1.x + border1.width + 50,
				//cy4: 1, // Control point
				//x3: border2.x ,
				//y3: border2.y + ( border2.height / 2 ), // Start/end point
				name : entity1 + "link" + entity2,
				groups : [ entity1 + "link" + entity2 ],
				dragGroups : [ entity1 + "link" + entity2 ],
				click : doClick,
			});
		}

		// ドラックアンドドロップすると線を再定義する
		function onDrag(layer) {
			console.log(layer.name);
			var linkname = "/link/gi";
			$("canvas").removeLayerGroup(/link/gi);
		    //$("canvas").removeLayerGroup( "/" + linkname +"/gi");
		    drawLink("g1","g2");
		    drawLink("g2","g3");
		}

		function onDragStop(layer) {
		}

		function onDragCancel(layer) {
		}

		//クリックイベント
		function doClick(layer) {
			//console.log(layer.dragGroups);
			//console.log(layer);
		}

		//クリックイベント
		function doDoubleClick(layer) {
			$("canvas").removeLayerGroup(layer.name);
			//console.log(layer.dragGroups);
			//console.log(layer);
		}

		/*]]>*/
	</script>
</body>
</html>