<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>顧客管理</title>
<link th:replace="parts/header :: link" />
</head>
<body>

	<div id="wrapper">
		<div th:replace="parts/menubar :: nav"></div>
	</div>

	<form th:action="@{/customers/create}" th:object="${customerForm}" id="create-form" method="post">
	<div id="page-wrapper">
		<div class="row">
			<div class="col-lg-12">
				<h3 class="page-header">ER図</h3>
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<div class="col-lg-12 form-group">
					<label class="col-lg-2 text-center c-label">顧客名*</label>
					<div class="col-lg-4">
						<input class="form-control" th:id="name" th:name="name" th:field="*{name}" placeholder="田中太郎" />
						<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger error">ERROR</span>
					</div>
					<label class="col-lg-2 text-center c-label">顧客名カナ*</label>
					<div class="col-lg-4">
						<input class="form-control" th:id="nameKana" th:name="nameKana" th:field="*{nameKana}" placeholder="タナカタロウ" />
						<span th:if="${#fields.hasErrors('nameKana')}" th:errors="*{nameKana}" class="text-danger error">ERROR</span>
					</div>
				</div>
				<div class="col-lg-12 form-group">
					<label class="col-lg-1 text-center c-label">郵便番号（REST API）*</label>
					<label class="col-lg-1 text-center c-label">
						<a class="btn btn-warning" id="address-search-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="郵便番号検索">〒</a>
					</label>
					<div class="col-lg-4">
						<input class="form-control" th:id="postalCode" th:name="postalCode" th:field="*{postalCode}" placeholder="100000" maxlength="7"/>
						<span th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}" class="text-danger error">ERROR</span>
					</div>
					<label class="col-lg-2 text-center c-label">住所</label>
					<div class="col-lg-4">
						<input class="form-control" th:id="address" th:name="address" th:field="*{address}" placeholder="東京都千代田区" />
						<span th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="text-danger error">ERROR</span>
					</div>
				</div>
				<div class="col-lg-12 form-group">
					<label class="col-lg-2 text-center c-label">メールアドレス*</label>
					<div class="col-lg-4">
						<input class="form-control" th:id="mail" th:name="mail" th:field="*{mail}" placeholder="xxxx@xxx.com"/>
						<span th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}" class="text-danger error">ERROR</span>
					</div>
					<label class="col-lg-2 text-center c-label">電話番号</label>
					<div class="col-lg-4">
						<input class="form-control" th:id="tel" th:name="tel" th:field="*{tel}" placeholder="00-0000-0000"/>
						<span th:if="${#fields.hasErrors('tel')}" th:errors="*{tel}" class="text-danger error">ERROR</span>
					</div>
				</div>
				<div class="col-lg-12 form-group">
					<label class="col-lg-2 text-center c-label">誕生日*</label>
					<div class="col-lg-4">
						<input class="form-control datepicker" th:id="birthDate" th:name="birthDate" th:field="*{birthDate}"  placeholder="1989-01-01"/>
						<span th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}" class="text-danger error">ERROR</span>
					</div>
				</div>
			</div>
		</div>
		<br />
		<th:block th:if="${#fields.hasErrors('all')}">
			<div class="alert alert-danger">エラー箇所を訂正してください</div>
		</th:block>
		<div class="col-md-12">
			<div class="panel-body">
				<button type="button" class="col-lg-5 btn btn-outline btn-primary btn-create">
					<i class="fa fa-leaf"></i>作成
				</button>
			</div>
		</div>
	</div>
	</form>
	<script th:inline="javascript">
		/*<![CDATA[*/
		$(function () {
			$('[data-toggle="tooltip"]').tooltip();
			$( ".datepicker").datepicker({ dateFormat: 'yy-mm-dd' });
		});

		$("#address-search-btn").on("click", function() {
			var apiUrl = '/api/address/zip=' + $('#postalCode').val();
			$.ajax({
			    url: apiUrl ,
			    type : "GET",
			    async   : true,
			    dataType : "json",
			    cache : false
			}).then(
			    function (data) {
			        var address = data[0]['kenName'] + data[0]['cityName'] + data[0]['townName'];
			        $('#address').val(address);
			    },
			    function (data) {
			    	if(data.responseJSON['status'] == 404){
						alert("該当のものがありません");
			    	}else{
						alert("読み込み失敗");
			    	}
			});
		});

		$(".btn-create").one("click", function() {
			$("#create-form").submit();
		});

		/*]]>*/
	</script>
</body>
</html>