<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>顧客管理</title>
<link th:replace="parts/header :: link" />
</head>
<body>

	<div id="wrapper">
		<div th:replace="parts/menubar :: nav"></div>
	</div>

	<div id="page-wrapper">
		<div class="row">
			<div class="col-lg-12">
				<h3 class="page-header">ER図【HTML5 Canvas】</h3>
			</div>
		</div>
		<div class="row">
			<canvas width="1000" height="1000"></canvas>
		</div>
		<br />
	</div>
	<script th:inline="javascript">
		/*<![CDATA[*/
//配置設定
		$.jCanvas.defaults.fromCenter = false;
		$.jCanvas.defaults.layer = true;

		var columName1 = [ "users", "user_name [varchar]", "encoded_password [varchar]" ];
		var columName2 = [ "address", "old_zip[int]", "ken_cd[int]", "ken_furi[varchar]","city_furi[varchar]", "town_furi[varchar]", "ken_name[varchar]", "city_name[varchar]" ];
		//var columName3 = [ "ダミービュー", "t2", "t3", "t4", "t5", "t6", "t7", "t8","t9", "t10", "t11", "t12", "t14" ];
		//var columName4 = [ "メモ書き" ];
		//var columName5 = [ "test", "xxxxxxxxx1[char]", "xxxxxxxxx2[char]", "xxxxxxxxx3[char]", "xxxxxxxxx4[char]", "xxxxxxxxx5[char]", "xxxxxxxxx6[char]", "xxxxxxxxx7[int]","xxxxxxxxx8[int]", "xxxxxxxxx9[int]", "xxxxxxxxx10[int]", "xxxxxxxxx11[int]", "xxxxxxxxx12[int]" , "xxxxxxxxx13[int]"];

		// 50にしているのが高さ。
		createTable("g1", 50, 50, columName1, 'red');
		createTable("g2", 300, 50, columName2, 'red');
		//--createTable("g3", 500, 70, columName3, 'blue');
		//--createTable("g5", 800, 80, columName5, 'white');
		//--createMemoTable("m4", 600, 50, columName4, 'yellow');

		// エンティティの線を引く

	drawCurveLink("g1","g2");
		//--drawCurveLink("g2","g3");
		//--drawCurveLink("g2","g5");

		// ERのテーブル作成
		// 引数 グループ名、ヨコの距離、テタの距離、コラム名
		function createTable(tableName, xl, yl, columName, color) {
			let xtext = xl;
			let ytext = yl;
			let xsquare = xl - 8; // テキストラインより下げる（インデント）
			let ysquare = yl; // 高さは合わせる
			let borderWidth = 0;
			let borderHeight = 0;
			let boxColor = color;

			// 線・四角形・テキストをグループ化
			//テキスト記載
			function drawText(text, x, y, name, tableName) {
				$("canvas").drawText({
					fillStyle : "black",
					strokeStyle : "black",
					strokeWidth : "0.5",
					x : x,
					y : y,
					fontSize : 14,
					fontFamily : "Verdana, sans-serif",
					text : text,
					name : name + "-text",

					draggable : true, //図形のドロップアンドドラック
					groups : [ tableName ],
					dragGroups : [ tableName ],
				});
			}


	//テキスト記載（横軸固定、縦30間隔）
			for (var i = 0; i < columName.length; i++) {
				// コラム記載
				drawText(columName[i], xtext, ytext, columName[i], tableName);
				if (i == 0) {
					ytext = ytext + 30;
				} else {
					ytext = ytext + 20;
				}
			}

			// テキスト幅のMAXから四角形の幅調整
			// カラム数により高さ調整
			for (var i = 0; i < columName.length; i++) {
				borderWidth = Math.max(borderWidth, $("canvas").getLayer(
						columName[i] + "-text").width);
				borderHeight = (columName.length * 20.5) + 10;
			}

			//四角形
			$("canvas").drawRect({
				strokeStyle : "blue",
				strokeWidth : 1,
				x : xsquare,
				y : ysquare,
				width : borderWidth + 15,
				height : borderHeight,
				draggable : true,
				groups : [ tableName ],
				dragGroups : [ tableName ],
				bringToFront : true,
				opacity : 0.2,
				fillStyle : boxColor,
				click : doClick,
				name: tableName,
		        drag: onDrag,
		        dragstop: onDragStop,
		        dragcancel: onDragCancel
			});
			//テーブル名の下線
			$("canvas").drawLine({
				strokeStyle : "black",
				strokeWidth : 1,
				x1 : xsquare,
				y1 : ysquare + 20,
				x2 : xsquare + borderWidth + 15,
				y2 : ysquare + 20,
				draggable : true,
				groups : [ tableName ],
				dragGroups : [ tableName ]
			});
		}

		function createMemoTable(tableName, xl, yl, columName, color) {
			let xtext = xl;
			let ytext = yl;
			let xsquare = xl - 8; // テキストラインより下げる（インデント）
			let ysquare = yl; // 高さは合わせる
			let borderWidth = 0;
			let borderHeight = 0;
			let boxColor = color;

			// 線・四角形・テキストをグループ化
			//テキスト記載
			function drawText(text, x, y, name, tableName) {
				$("canvas").drawText({
					fillStyle : "black",
					strokeStyle : "black",
					strokeWidth : "0.5",
					x : x,
					y : y,
					fontSize : 14,
					fontFamily : "Verdana, sans-serif",
					text : text,
					name : name + "-text",
					draggable : true, //図形のドロップアンドドラック
					groups : [ tableName ],
					dragGroups : [ tableName ],
				});
			}

			//テキスト記載（横軸固定、縦30間隔）
			for (var i = 0; i < columName.length; i++) {
				// コラム記載
				drawText(columName[i], xtext, ytext, columName[i], tableName);
				if (i == 0) {
					ytext = ytext + 30;
				} else {
					ytext = ytext + 20;
				}
			}

			// テキスト幅のMAXから四角形の幅調整
			// カラム数により高さ調整
			for (var i = 0; i < columName.length; i++) {
				borderWidth = Math.max(borderWidth, $("canvas").getLayer(
						columName[i] + "-text").width);
				borderHeight = (columName.length * 20.5) + 10;
			}

			//四角形
			$("canvas").drawRect({
				strokeStyle : "blue",

				strokeWidth : 1,
				x : xsquare,
				y : ysquare,
				width : borderWidth + 15,
				height : borderHeight,
				draggable : true,
				groups : [ tableName ],
				dragGroups : [ tableName ],
				bringToFront : true,
				opacity : 0.2,
				fillStyle : boxColor,
				click : doClick,
				name: tableName,
		        drag: onDrag,
		        dragstop: onDragStop,
		        dragcancel: onDragCancel
			});

	}

		// 線を引き
		function drawLink(entity1,entity2) {
			var border1 = $("canvas").getLayer(entity1);
			var border2 = $("canvas").getLayer(entity2);


			$("canvas").drawLine({
				strokeStyle : "black",
				strokeWidth : 1,
				draggable : false,
				x1: border1.x + border1.width ,
				y1: border1.y + ( border1.height / 2 ),
				x2: border2.x,
				y2: border2.y + ( border2.height / 2 ), // Start/end point
				name : entity1 + "link" + entity2,
				groups : [ entity1 + "link" + entity2 ],
				dragGroups : [ entity1 + "link" + entity2 ],
				click : doClick,
			});
		}

		// 曲線
		function drawCurveLink(entity1,entity2) {
			var border1 = $("canvas").getLayer(entity1);
			var border2 = $("canvas").getLayer(entity2);
			// 始点・終点
			var startPointX;
			var startPointY;
			var endPointX;
			var endPointY;
			var halfPointX;
			var halfPointY;
			var temp1;
			var temp2;
			var halfLengthX;
			var halfLengthY;
			var cpLine;
			var diffPoint;
			var diffHeight;
			cpLine = 100;
			diffPoint = 300; // 上下の差が離れたら始点・終点入れ替える
			// X軸：エンティティが逆転したら処理修正
			if(border1.x < border2.x){
				startPointX = border1.x + border1.width;
				endPointX = border2.x;
			}else{
				startPointX = border2.x + border2.width;
				endPointX = border1.x;
			}
			// Y軸：エンティティが逆転したら処理修正
			if( (border1.y + ( border1.height / 2 )) < (border2.y + ( border2.height / 2 ))){
				startPointY = border1.y + ( border1.height / 2 );
				endPointY = border2.y + ( border2.height / 2 );
			}
			else{

	startPointY =  border1.y + ( border1.height / 2 );
				endPointY = border2.y + ( border2.height / 2 );
			}
			// X軸：反対ならY軸入れ替えるエンティティが逆転したら処理修正
			if(border1.x > border2.x){
				temp1 = startPointY;
				temp2 = endPointY;
				startPointY = temp2;
				endPointY = temp1;
				halfPointY = ((endPointY - startPointY) / 2 ) + startPointY;
			}
			// エンティティ下に行った場合
			diffHeight = border2.y - border1.y;
			if( diffHeight > diffPoint){
				startPointX = border1.x + (border1.width / 2);
				endPointX = border2.x + (border2.width / 2);
				startPointY = border1.y + border1.height;
				endPointY = border2.y;
				cpLine = 50;
			}
			diffHeight = border1.y - border2.y;
			if( diffHeight > diffPoint){
				startPointX = border2.x + (border2.width / 2);
				endPointX = border1.x + (border1.width / 2);
				startPointY = border2.y + border2.height;
				endPointY = border1.y;
				cpLine = 50;
			}
			halfPointX = ((endPointX - startPointX) / 2 ) + startPointX;
			halfPointY = ((endPointY - startPointY) / 2 ) + startPointY;

			halfLengthX = (endPointX - startPointX) / 2
			halfLengthY = (endPointY - startPointY) / 2
			//距離が短いと曲線から直線に変換
			if(halfLengthX < (cpLine - 15)){
				cpLine = 0;
			}

			$("canvas").drawBezier({
				strokeStyle : "black",
				strokeWidth : 1,
				draggable : false,
				x1: startPointX ,
				y1: startPointY ,
				cx1: halfPointX - cpLine, //上に上がる
				cy1: halfPointY , //
				cx2: halfPointX - cpLine ,
				cy2: halfPointY ,
				x2: halfPointX ,
				y2: halfPointY,
				cx3: halfPointX + cpLine,
				cy3: halfPointY,
				cx4: halfPointX + cpLine, //
				cy4: halfPointY, //
				x3: endPointX ,
				y3: endPointY ,
				name : entity1 + "link" + entity2,
				groups : [ entity1 + "link" + entity2 ],
				dragGroups : [ entity1 + "link" + entity2 ],
				click : doClick,
				});
			}

		/*]]>*/
	</script>
</body>
</html>