<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8"/>
<head th:fragment="link">
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/webjars/startbootstrap-sb-admin-2/1.0.8-1/css/sb-admin-2.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/add.css}" />
<script src="" th:src="@{/webjars/jquery/3.2.1/jquery.min.js}" ></script>
<script src="" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}" ></script>
<script src="" th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jcanvas/20.1.4/min/jcanvas.min.js"
	    th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jcanvas/20.1.4/min/jcanvas.min.js}" ></script>
<script src="" th:src="@{/webjars/metisMenu/2.7.0/metisMenu.min.js}"></script>
<script src="" th:src="@{/webjars/startbootstrap-sb-admin-2/1.0.8-1/js/sb-admin-2.js}"></script>
</head>
</html>