<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>SB Admin 2 - Bootstrap Admin Theme</title>
<link th:replace="parts/header :: link" />
</head>
<body>
	<div id="wrapper">
		<!-- Navigation -->
		<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0" th:fragment="nav">
			<div class="navbar-header">
				<a class="navbar-brand" th:href="@{/news}">顧客管理システム</a>
			</div>
			<div class="nav navbar-top-links navbar-right in">
				<div><span class="user" sec:authentication="principal.username">ログインユーザ</span>でログイン中</div>
			</div>
			<div class="navbar-default sidebar" role="navigation">
				<div class="sidebar-nav navbar-collapse">
					<ul class="nav" id="side-menu">
						<li><a th:href="@{/opportunities/create}" href="opportunities/create"><i class="fa fa-users fa-fw"></i>商談作成</a></li>
						<li><a th:href="@{/opportunities/list}" href="opportunities/list"><i class="fa fa-table fa-fw"></i>商談リスト</a></li>
						<li><a th:href="@{/customers/create}" href="customers/create"><i class="fa fa-users fa-fw"></i>顧客作成</a></li>
						<li><a th:href="@{/customers/list}" href="customers/list"><i class="fa fa-table fa-fw"></i>顧客リスト</a></li>
						<li><a th:href="@{/address/upload}" href="address/upload"><i class="fa fa-book fa-fw"></i>住所マスタアップロード</a></li>
						<li><a th:href="@{/swagger-ui.html}" href="/swagger-ui.html"><i class="fa fa-file-text-o fa-fw"></i>API定義書（Swagger）</a></li>
						<li><a th:href="@{/news/ps}" href="/news/ps"><i class="fa fa-file-text-o fa-fw"></i>【未】JVM監視（Jstat）</a></li>
						<li><a th:href="@{/er/}" href="/er/"><i class="fa fa-file-text-o fa-fw"></i>【未】ER図</a></li>
						<li><a th:href="@{/404.html}" href="/404.html"><i class="fa fa-file fa-fw"></i>404エラーページ</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
</body>
</html>
